body {
    width: 100%;
    margin: 0;
    background-color: black;
    color: #0C0;
    font-family: monospace;
}

#mobile-version {
    position:absolute;
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.mobile-content {
    flex: 1;
    display:flex;
    flex-direction: column;
    padding: 10px;
}

#mobile-version .dashboard {
    flex: 1;
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
}

#mobile-version .dashboard .menu-item {
    position: relative;
    width: 50%;
}

.menu-item {
    text-align: center;
}

a {
    color: inherit;
    text-decoration: none;
}

@media screen and (max-width: 640px) {
    #desktop-version {
        display: none;
    }
}

@media screen and (min-width: 641px) {
    #mobile-version {
        display: none;
    }
}

#mobile-version header {
    border-bottom: 1px solid #0C0;
    padding: 5px;
    height: 44px;
}

#mobile-version header .title {
    font-size: 32px;
    font-weight: bold;

}

#mobile-version header a.menu {
    font-size: 28px;
    display: block;
    float: right;
    margin-right: 5px;
}

#desktop-version header {
    padding-top: 15px;
    width: 920px;
    margin: auto;
}

#desktop-version header, #desktop-version nav {
    width: 640px;
    text-align: center;
}

#desktop-version header {
    font-size: 32px;
}

#desktop-version nav {
    margin: 15px auto 35px auto;
}

#desktop-version .menu-item {
    display: inline-block;
    width: 154px;
}

.menu-item .icon {
    font-size: 48px;
}

#desktop-version main {
    display: flex;
    width: 920px;
    margin: auto;
}

#desktop-version main .content {
    width: 600px;
    border: 2px solid #0C0;
    border-radius: 2px;
    padding: 0 20px 10px 20px;
}

#desktop-version main .follow {
    width: 240px;
    padding-left: 40px;
}

#desktop-version main .follow .title {
    text-align: center;
    margin-bottom: 12px;
    font-size: 18px;
    font-weight: bold;
}

#desktop-version main .follow .follow-item {
    padding-left: 60px;
    margin-bottom: 5px;
    display: block;
}

#desktop-version main .follow .follow-item .icon {
    font-size: 24px;
    vertical-align: middle;
}

.menu-item:hover, .follow-item:hover, header .title:hover {
    color: #0F0;
    cursor: pointer;
}